@{
    ViewData["Title"] = "Home Page";
}

<h1>Sobre o Quadribol</h1>

<form method="post">

    <div class="form-group">
        <p style="text-align:center;">
            O Quadribol é o jogo mais nobre que existe no mundo bruxo. <br> <br> <br>
            Ele é formado por 7 jogadores, sendo eles, um goleiro, três
            artilheiros, dois batedores e um apanhador. <br> <br> <br>
            O campo de quadribol possui 6 aros, 3 aros aros de cada lado, sendo
            um grande e dois pequenos. <br> <br> <br>>
            Existem 3 tipos de bola: <<br> <br> <br>
            a Goles (que é usada pelos artilheiros que devem lança-las dentro dos
            aros para marcarem 10 pontos). <br> <br> <br>
            Os Balaços (duas bolas de ferro enfeitiçadas usadas pelos batedores para estes
            lançarem os balaços com um taco <br> <br>  para fazer o oponente cair da vassoura). <br> <br> <br>
            E o Pomo de Ouro (que só pode ser pega pelo apanhador), que ao ser apanhada,
            o time o qual a pegou recebe 150 <br> <br> pontos, ganhando assim a partida.
        </p>
    </div>

</form>

