
@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre</h1>

<form method="post">

    <div class="form-group">
        <p>
            O Quadribol é o jogo mais nobre que existe no mundo bruxo. Ele é formado
            por 7 jogadores, sendo eles, um goleiro, três artilheiros, dois batedores e um
            apanhador. O campo de quadribol possui 6 aros, 3 aros aros de cada
            lado, sendo um grande e dois pequenos. Também existem 3 tipos de
            bola: a Goles (que é usada pelos artilheiros que devem lança-las
            dentro dos aros para marcarem 10 pontos), os Balaços (duas
            bolas de ferro enfeitiçadas usadas pelos batedores para
            estes lançarem os balaços com um taco para fazer o oponente cair da
            vassoura), e finalmente a última bola, o Pomo de Ouro (que só pode ser
            pega pelo apanhador), que ao ser apanhada, o time o qual a pegou recebe
            150 pontos, ganhando assim a partida.
        </p>
        <img src="~/images/quadribol.gif" alt="Trulli" width="500" height="333">
    </div>

</form>

