@model List<QuadribolPresentationLayer.Models.Query.JogoQueryViewModel>

@{
    ViewBag.Title = "";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Data do Jogo</th>
        <th>Pontuação</th>
        <th>Narrador</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Jogo.DataJogo</td>
    <td>@item.Jogo.PontuacaoTime1 X @item.Jogo.PontuacaoTime2</td>
    <td>@item.Jogo.Narrador.Nome</td>
</tr>
    }

</table>
