
@{
    ViewBag.Title = "Cadastrar";
}

<h1>Cadastrar</h1>

<div class="form-horizontal">

    <form method="post">
        <div class="form-group">
            <label class="control-label col-md-2">Nome</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Nome" id="Nome" />
                <span class="text-danger" id="erroNome" name="erroNome"></span>
            </div>
        </div>

        @{
            string[] casa = Enum.GetNames(typeof(Entity.Enums.Casa));
        }

        <div class="form-group">
            <label class="control-label col-md-2">Casa</label>
            <div class="col-md-10">
                <select class="form-control" name="Casa" id="Casa">
                    @for (int i = 0; i < casa.Length; i++)
                    {
                        <option value="@i">@casa[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Escolaridade</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Escolaridade" id="Escolaridade" />
                <span class="text-danger" id="erroEscolaridade" name="erroEscolaridade"></span>
            </div>
        </div>

        @{
            string[] funcao = Enum.GetNames(typeof(Entity.Enums.Funcao));
        }

        <div class="form-group">
            <label class="control-label col-md-2">Casa</label>
            <div class="col-md-10">
                <select class="form-control" name="Casa" id="Casa">
                    @for (int i = 0; i < funcao.Length; i++)
                    {
                        <option value="@i">@funcao[i]</option>
                    }
                </select>
            </div>
        </div>

    </form>

</div>