
@{
    ViewBag.Title = "Cadastrar";
}

<h1>Cadastrar Narrador</h1>

<div class="form-horizontal">

    <form method="post">
        <div class="form-group">
            <label class="control-label col-md-2">Nome</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Nome" id="Nome" />
                <span class="text-danger" id="erroNome" name="erroNome"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ativo</label>
            <div class="col-md-10">
                <input class="checkbox" value="true" type="checkbox" name="Ativo" id="Ativo" />
                <input value="false" type="hidden" name="Ativo" id="Ativo" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="CadastrarNarrador" id="CadastrarNarrador" type="submit" value="Cadastrar Narrador" />
            </div>
        </div>

    </form>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $("#BotaoEnviar").click(function (e) {

                var nome = $("#Nome").val();

                var sucesso = true;

                if (nome == "") {
                    $("#erroNome").html("O nome do Narrador deve ser informado.");
                    sucesso = false;
                }
                else if (nome.length < 5 || nome.length > 50) {
                    $("#erroNome").html("O nome do Narrador deve conter entre 2 e 50 caracteres.");
                    sucesso = false;
                }
                else {
                    $("#erroNome").html("");
                }

                 if (!sucesso) {
                    e.preventDefault();
                }
            });

        });
    </script>

}

