
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Narrador</h1>

<div class="form-horizontal">

    <form method="post">
        <div class="form-group">
            <label class="control-label col-md-2">Nome</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Nome" id="Nome" />
                <span class="text-danger" id="erroNome" name="erroNome"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ativo</label>
            <div class="col-md-10">
                <input class="checkbox" value="true" type="checkbox" name="Ativo" id="Ativo" />
                <input value="false" type="hidden" name="Ativo" id="Ativo" />
            </div>
        </div>

    </form>
</div>
