@model List<QuadribolPresentationLayer.Models.Query.NarradorQueryViewModel>
@{
    ViewBag.Title = "";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th style="text-align:center">Nome</th>
        <th style="text-align:center">Atuando</th>
    </tr>

    @{ 
        string EhAtivo = "";
    }

    @foreach (var item in Model)
    {

        @if (item.EhAtivo)
         {
            EhAtivo = "Sim";
         }
         else
         {
            EhAtivo = "Não";
         }

        <tr>
            <td style="text-align:center">@item.Nome</td>
            <td style="text-align:center">@EhAtivo</td>
        </tr>
    }

</table>
