/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'magicschooltwo'; 
    src: url('../fonts/magicschooltwo.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    height: 150px;
}

.navbar-light .navbar-brand {
    font-size: 60px;
    width: 300px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    height: 20px;
}

.pomo{
    height: 300px;
}

.container2{
    height:1000px;

}

img{
    height: 100px;
}

header {
    color: black;
    font-size: 40px;
    height: 150px;
    height: 92px;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

indexCronograma {
    font-size: 80px;
    color: white;
    text-align: center;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: lightskyblue;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 50px;
  color : black;
}

@media (min-width: 768px) {
  html {
    font-size: 35px;
  }
}

.border-top {
    border-top: 2px solid !important;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.text-muted {
    color: black !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  height: 90px;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    height: 1600px;
    color: black;
    background-color: lightskyblue;
    font-family: 'magicschooltwo';
    background-image: url("/images/fundo5.jpg");
    background-repeat: no-repeat;
    line-height: 25px;
    background-attachment: fixed;
    background-size: cover;
}

.footer {
    background-color: white;
    color: #000;
    position: relative;
    width: 800px;
    height: 615px;
    font-size: 22px;
    text-align: center;
    bottom: 0;
    white-space: nowrap;
    color: black;
    line-height: 65px; /* Vertically center the text there */
    margin-right: auto;
    margin-left: auto;
    margin-top: 1300px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
