<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Quadribol</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/images/icons/chapeuLogo.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Quadribol</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="font-size: 35px;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">>Home</a>
                        </li>

                        <li class="nav-item" style="font-size: 35px;">
                            <a class="nav-link text-dark" href="http://localhost:57315/Usuario/Cadastrar">Usuário</a>
                        </li>

                        <li class="nav-item" style="font-size: 35px;">
                            <a class="nav-link text-dark" href="http://localhost:57315/Usuario/Login">Login</a>
                        </li>

                        <li class="nav-item" style="font-size: 35px;">
                            <a class="nav-link text-dark" href="http://localhost:57315/Narrador/Index">Narrador</a>
                        </li>

                        <li class="nav-item" style="font-size: 35px;">
                            <a class="nav-link text-dark" href="http://localhost:57315/Time/Index">Time</a>
                        </li>

                        <li class="nav-item" style="font-size: 35px;">
                            <a class="nav-link text-dark" href="http://localhost:57315/Jogo/Index">Jogo</a>

                        </li><li class="nav-item" style="font-size: 35px;">
                            <a class="nav-link text-dark" href="http://localhost:57315/Usuario/Sair">Sair<</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="border-top: 2px solid #1861ac">
        <div class="container">
        </div>
        <div id="pomo">
            <img src="~/images/arospng.png" alt="logo" /> 
        </div>
        <nav id="mapaSite" style="font-size:25px;">
            <a class="text-dark" href="http://localhost:57315">Home</a><br>
            <a class="text-dark" href="http://localhost:57315/Usuario/Cadastrar">Usuário</a><br>
            <a class="text-dark" href="http://localhost:57315/Usuario/Login">Login</a><br>
            <a class="text-dark" href="http://localhost:57315/Narrador/Index">Narrador</a><br>
            <a class="text-dark" href="http://localhost:57315/Time/Index">Time</a><br>
            <a class="text-dark" href="http://localhost:57315/Jogo/Index">Jogo</a><br>
        </nav> 
        <p style="color: black;">>
            Criado por Natanael e Caroline - 2020
        <</p>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body> 
</html>
