@model List<QuadribolPresentationLayer.Models.Query.TimeQueryViewModel>

@{
    ViewBag.Title = "";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Casa</th>
        <th>Competidores</th>
    </tr>

    @{
        foreach (var item in Model)
        {
        <tr>
            <td>@item.Casa</td>
            @foreach (var item2 in item.Competidores)
            {
                <td>@item2.Nome - @item2.Funcao</td>
            }
        </tr>
        }
    }

</table>