@model List<QuadribolPresentationLayer.Models.Query.TimeQueryViewModel>

@{
    ViewBag.Title = "";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Casa</th>
        <th><center>Competidores</center></th>
    </tr>

    @{
        foreach (var item in Model)
        {

            List<string> vs = new List<string>();

            foreach (var item2 in item.Competidores)
            {
                if (item2.Casa == item.Casa)
                {
                    vs.Add(item2.Nome + " - " + item2.Funcao + "(a)");
                }
            }

            <tr>
                <td>@item.Casa</td>
                <td>
                    @foreach (var item2 in vs)
                    {
                    <center>@item2
                        @if (vs.Last() != item2)
                        {
                            <br /><br />
                        }
                    </center>
                    }
                </td>
            </tr>

        }
    }

</table>